@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
}

/* -------HEADER NAVBAR STYLE-------*/
.header__nav{
    display: flex;
    justify-content:space-between;
    align-items:center;
    text-decoration: none;
    width: 100vw;
    padding: 65px 165px;
}

.header__links {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 28px;
}

.nav__link{
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    color: #242E52;
}

.nav__link:hover{
    color: #F3603B;
}

.button {
    text-decoration: none;
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    background-color: #F3603B;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    color: #fff;
    padding: 10px;
    border-radius: 50px;
    text-align: center;
    width: 134px;
    height: 44px;
}

.mobile__menu {
    color: #242E52;
    font-size: 16px;
}

.hide-for-desktop {
    display: none;
}

/* -------HERO SECTION STYLE-------*/

.hero__container {
    display: flex;
    justify-content: space-between;
    padding: 65px 165px;
}

.hero__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.hero__title {
    font-size: 50px;
    font-weight: 700;
    color: #232C50;
    line-height: 66.47px;
    width: 30vw;
}

.hero__image {
    width: 70vw;
    padding: 0 80px 0 0px;   
}

.text__container {
    font-size: 16px;
    font-weight: 500;
    color: #000;
    width: 26vw;
    text-align: left;
    margin:20px 0;
}

/* -------ABOUT US SECTION STYLE-------*/

.section__container {
    display: flex;
    justify-content: center;
    margin-top:50px;
    padding: 0px 165px;
}

.section__container--left {
    width:45vw;
    display: flex;
    flex-direction: column;
}

.section__container--right {
    width:55vw;
    display: flex;
    flex-direction: column;
}

.section__tittle {
    font-size: 36px;
    color: #232C50;
    width:35vw;
}

.text__section {
    font-size: 16px;
    font-weight: 500;
    color: #000;
    width: 25vw;
    margin-top:20px;
}

.article__container {
    display:flex;
    align-items:baseline;
    font-weight: 400;
    font-size: 15px;
    gap: 20px;
    margin-bottom: 20px;
    width: 35vw;
}

.article__ittem {
    text-decoration: none;
    background-color: #F3603B;
    color: #fff;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    width: 69px;
    height: 43px;
}

.article__tittle {
    color: #232C50;
    font-size: inherit;
    font-weight: bold;
    margin-bottom: 10px;
}

.article__text {
    color: #B3B2B7;
    font-size: inherit;
    line-height: 25.52px;
    font-weight: 500;
}

/* -------TESTIMONIAL SECTION STYLE-------*/

.testimonial__section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.testimonial__container {
    display: flex;
    flex-wrap: wrap;
}

.testimonial__card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#FAFAFA;
    position: relative;
    margin: 100px 0 50px 0;
    padding: 0 80 0 80;
}

.testimonial__avatar {
    width: 70px;
    height: 70px;
    position: absolute;
    bottom: 200px;
}

.testimonial__tittle {
    font-size: 36px;
    color: #232C50;
}

.body__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* -------CTA (CALL TO ACTION) SECTION STYLE-------*/

.cta__section {
    display: flex;
    justify-content: space-around;
    background-color:#F3603B;
    align-items: center;
    margin-top: 50px;
    padding: 80px 0px;
}

.cta__tittle {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    width: 30vw;
}

.cta__text {
    color: #B3B2B7;
    font-size: inherit;
    line-height: 25.52px;
    font-weight: 500;
    text-align: center;
    width: 400px;
}

.cta__button {
    text-decoration: none;
    font-family: inherit;
    font-size: 13.18px;
    font-weight: 500;
    background-color:#fff ;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    color: #F3603B;
    padding: 10px;
    border-radius: 50px;
    text-align: center;
    width: 134px;
    height: 44px;
}

/* -------FOOTER STYLE-------*/
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #1E1E26;
    color: #fff;
    padding: 54px 250px 54px 200px; 
    position: relative;
}

.leftSection__footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
}

.rrss__footer {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.rrss__footer:hover {
    color: #F3603B;
    transition: color 3s;
}

.links__footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    gap:8px;
    color:#fff;
    text-decoration: none;
}

.link__footer{
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.link__footer:hover{
    color: #F3603B;

}

.rightSection__footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.button__footer{
    font-family: inherit;
    font-size: 13.18px;
    font-weight: 500;
    background-color: #F3603B;
    color: #fff;
    padding: 10px;
    border-radius: 50px;
    text-align: center;
    width: 63px;
    height: 44px;
    border: none;
    cursor: pointer;
}

.input__footer {
    width: 200px;
    height: 44px;
    border-radius: 50px;
    padding: 10px;
    margin: 0px 9px;
    border: none;
}

.input__footer::placeholder {
    font-family: inherit;
    font-weight: 600;
    font-size: 14px;
    color: #A0A0A0;
}

#copyright__footer {

    font-weight: 500;
    font-size: 12.5px;
    color: #8C8C94;
}

.leftSection__footer::before{
    content: "";
    background-image:url('/imagenes/logo-group.svg') ;
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    position: absolute;
    left: 210px;
}


/* -------MEDIAQUERIES-------*/
@media (max-width: 400px) {

    body, main, .header__content {
        width: 100vh;
    }
    /* -------VISIBILITY-------*/
    .hide-for-mobile {
        display:none ;
    }
    
    .hide-for-desktop {
        display: block;
    }
    
    .header__nav{
        justify-content:space-between;
        align-items:center;
        text-decoration: none;
        width: auto;
        padding: 30px 21px;
    }

    .mobile__menu {
        font-size: 24px;
    }
    
    /* -------HERO SECTION STYLE-------*/
    .hero__container {
        display: flex;
        flex-direction: column-reverse;
        justify-content:center;
        align-items:center;
        width: auto;
    }

    .hero__image {
        width: 100vw; 
        padding:0;
    }
    
    .hero__text {
        align-items: center;
        text-align: center;
        margin-top:20px;
    }
    
    .hero__title {
        font-size: 35px;
        line-height: 40px;
        width: auto;
    }
    
    .text__container {
        font-size: 14px;
        color: #8C8C94;
        line-height:  30px;
        width: 100vw;
        text-align: center;
    }
    
    /* -------ABOUT US SECTION STYLE-------*/
    
    .section__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
        margin:0;
        padding:0;
    }

    .section__container--left {
        width: auto;
        align-items: center;
    }
    
    .section__tittle {
        font-size: 28px;
        line-height: 40px;
        width: 70vh;
        text-align: center;
    }
    
    .text__section {
        font-size: 14px;
        color: #8C8C94;
        line-height:  30px;
        width: 100vw;
        text-align: center;
    }

    .section__container--right{
        flex-direction: column;
        justify-content: center;
        width: 100vw;
    }
    
    .article__tittle {
        color: #232C50;
        font-size: inherit;
        font-weight: bold;
        margin-bottom: 10px;
        width: 80vw;
        padding: 10px 25px;
        text-align: left;
    }
    
    .article__text {
        color: #B3B2B7;
        font-size: inherit;
        line-height: 25.52px;
        font-weight: 500;
    } 

/* -------TESTIMONIAL SECTION STYLE-------*/

.testimonial__section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
}

.testimonial__container {
    display: flex;
    flex-wrap: wrap;
}

.testimonial__card-1, .testimonial__card-3 {
    display: none;

}

.testimonial__avatar {
    width: 70px;
    height: 70px;
    position: absolute;
    bottom: 200px;
}

.testimonial__tittle {
    font-size: 36px;
    color: #232C50;
}

.body__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* -------CTA (CALL TO ACTION) SECTION STYLE-------*/
.cta__section {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    background-color:#F3603B;
    align-items: center;
}

.cta__tittle {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    width: 80vw;
    margin-bottom: 20px;
}

.cta__text {
    color: #B3B2B7;
    font-size: inherit;
    line-height: 25.52px;
    font-weight: 500;
    text-align: center;
    width: 400px;
}

.cta__button {
    text-decoration: none;
    font-family: inherit;
    font-size: 13.18px;
    font-weight: 500;
    background-color:#fff ;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    color: #F3603B ;
    padding: 10px;
    border-radius: 50px;
    text-align: center;
    width: 134px;
    height: 44px;
}


/* -------FOOTER STYLE-------*/
footer {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: auto;
    margin:0;
    padding:0;
    position:relative;
}

.links__container{
    display: flex;
    justify-content: space-around;
    gap:20px;
    margin-bottom: 30px;
}


.rrss__footer {
    justify-content: space-around;
    margin-bottom: 30px;
}

.links__footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    gap:8px;
    color:#fff;
    text-decoration: none;
}

.link__footer{
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.links__footer:hover {
    color: #F3603B;
}

.form__footer {
    display: flex;
    padding: 40px 50px;
    justify-content: space-evenly;
}

.input__footer::placeholder {
    font-family: inherit;
    font-weight: 600;
    font-size: 14px;
    color: #A0A0A0;
}

#copyright__footer {
    text-align: center;
    margin:40px 0px;
}

.logo__footer::before{
    content: "";
    background-image:url('imagenes/logo-group.svg') ;
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    position: absolute;
    left: 10px;
}

}